.custom-radios div {
    display: inline-block;
  }
  .custom-radios input[type="radio"] {
    display: none;
  }
  .custom-radios input[type="radio"] + label {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  .custom-radios input[type="radio"] + label span {
    display: inline-block;
    width: 100px;
    height: 50px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    /* border-radius: 50%; */
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 44px;
  }
  .custom-radios input[type="radio"] + label span img {
    opacity: 0;
    transition: all .3s ease;
  }
  .custom-radios input[type="radio"]#color-1 + label span {
    background-color: #2ecc71;
  }
  .custom-radios input[type="radio"]#color-2 + label span {
    background-color: #3498db;
  }
  .custom-radios input[type="radio"]#color-3 + label span {
    background-color: #f1c40f;
  }
  .custom-radios input[type="radio"]#color-4 + label span {
    background-color: #e74c3c;
  }
  .custom-radios input[type="radio"]:checked + label span {
    opacity: 1;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg) center center no-repeat;
    width: 40px;
    height: 40px;
    display: inline-block;
  
  }