body {
    width: 780px;
    height: 900px;
    margin: 0 auto ;
}

header{
    width: 780px;
    height: 125px;
    background-color: #0033ff;
}

menu {
    width: 780px;
    height: 30px;
    margin: 0;
    padding: 0;
    background-color: #0033ff;
}
menu ul li {
    float: left;
    margin: 0 20px 0 0;
    list-style: none;
    padding: 0;
    color: #000000;
    line-height: 30px;
}

menu a {

    text-decoration: none;
    color: #fff;
    display: block;
    }

section {
    width: 780px;
    height: 745px;
}

.nav_left{

    width: 140px;
    height: 745px;
    background-color: #0099ff;
    float: left;
    text-align: center;
}

.content{
    width: 500px;
    height: 745px;
    float: left;
}
.nav_right{
    width: 140px;
    height: 745px;
    background-color: #0099ff;
    float: left;
    text-align: center;

}
.post{
    height: 132px;
    width: 500px;
    margin: 0 0 10px 0 ;
}
.post > img{
    width: 176px;
    height: 132px;
    margin: 0 20px 0 0;

    float: left;
}
.post  .post_up{
    width: 314;
}
.post  .post_down{
    width: 314;
} 
footer{
    width: 780px;
    height: 30px;
    background-color: #0033ff;
}